<%if @order_items%>
<% @order_items.each do |order_item|%>
  <br>
  <p><%=link_to order_item.product.name, product_path(order_item.product)%></p>
  <p>Quantity: <%=order_item.quantity%></p>
  <p>Subtotal: </p>
<% end %>
<p>Total price: </p>
<p>Order placed on: <%=@order.updated_at.strftime("%B %d %Y at %I:%M %p")%>
<p>Order status: <%=@order.status.capitalize%></p>
<%else%>
Nothing in Cart to show
<%end%>
