<h1>Index for Merchants</h1>

<ul>
  <% @merchants.each do |merchant|%>
  <li>
    <p>
      <%= link_to merchant.username, merchants_products_path(merchant), class: "btn btn-primary" %>
    </p>
  </li>
  <% end %>
</ul>