@import "bootstrap";
/* Import scss content */
@import "**/*";


body {
  font-family: 'Montserrat', sans-serif;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
    "header header"
    "main main"
    "footer footer"
}

main {
  grid-area: main;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: 2rem;
}

header {
  grid-area: header;
}

a {
  color: rgb(56, 56, 56);
}

.navbar {
  background-color: white;
}

.navbar-brand img {
  width: 200px
}

footer {
  grid-area: footer;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

li {
  align-self: auto;
  margin: 10px;
}

.products {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 2rem;
  width: inherit;
  height: auto;
}

.product {
  margin: 2rem;
}

img {
  margin-bottom: .5rem
}

.products ul {
  display: block;
  flex-flow: column wrap;  
  width: 20vw;
  height: auto;
  // justify-content: flex-start;
}


.btn {
  // margin-bottom: auto;
  vertical-align: baseline;
  background-color: #FF99CB;
  border: none;
}

.btn:hover {
  background-color: rgb(255, 174, 213);
}

.list-group {
  margin-bottom: 2rem;
}
.list-group-item {
  margin-left: 0px;
  padding-left: .25rem;
  border: 0px;
  align-self: flex-start

}

.table {
 width: 80vw;
 margin-top: 2rem;
 margin-left: 2rem;
 padding: 5rem;
 border: 0;
}

.row {
  text-align: right;
}


.table th {
  color: #FF99CB;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-style: regular;
}

.total {
  border-top: 1px solid;
}

input[type=text] {
  background-color: rgba(255, 255, 255, 0.212);
  border: 1px solid gray;
  width: 2rem;
}

#total {
  color: rgb(56, 56, 56);
}

.btn-table {
  margin-top: 2rem;
}