@import "bootstrap";
/* Import scss content */
@import "**/*";
@import "font-awesome";



body {
  font-family: 'Montserrat', sans-serif;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header header"
    "main main"
}

main {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: auto;
}

header {
  grid-area: header;
}

a {
  color: rgb(56, 56, 56);
}

.navbar {
  background-color: white;
}

.navbar-brand img {
  width: 200px
}

footer {
  grid-area: footer;
}


ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

li {
  align-self: auto;
  margin: 10px;
}

.products {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 2rem;
  width: inherit;
  height: auto;
}

.product {
  margin: 2rem;
}

img {
  margin: 0;
}

div {
  margin: 0;
}

.products ul {
  display: block;
  flex-flow: column wrap;  
  width: 20vw;
  height: auto;
  // justify-content: flex-start;
}

input.btn {
  width: auto;
  margin-top: 1.5rem;
}

.btn {
  // margin-bottom: auto;
  vertical-align: baseline;
  background-color: #FF99CB;
  border: none;
}

.btn:hover {
  background-color: rgb(255, 174, 213);
}

.list-group {
  margin-bottom: 2rem;
}
.list-group-item {
  margin-left: 0px;
  padding-left: .25rem;
  border: 0px;
  align-self: flex-start

}

.table {
 width: 80vw;
 margin-top: 2rem;
 margin-left: 2rem;
 padding: 5rem;
 border: 0;
}

.row {
  text-align: right;
}


.table th {
  color: #FF99CB;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-style: regular;
}

.table th {
  color: #FF99CB;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
}

strong {
  font-weight: 600;
}

.total {
  border-top: 1px solid;
}

input[type=text] {
  background-color: rgba(255, 255, 255, 0.212);
  border: 1px solid gray;
  width: auto;
  align-self: left;
}

#total {
  color: rgb(56, 56, 56);
}

header#homepage {
  display: flex;
  justify-content: center;
  align-items: center;
}

img.carousel {
  object-fit: cover;
  width: 90vw;
  height: 50vh;
}

div.carousel {
  display: flex;
  margin: 3rem;
  justify-content: center;
  align-items: center;
}

div.carousel-item {
  height: 20vh;
  margin: 0
}


.value-button {
  display: inline-block;
  border: 0px;
  margin: 0px;
  // width: 40px;
  // height: 20px;
  text-align: center;
  vertical-align: middle;
  // padding: 11px 0;
  background: white;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.value-button:hover {
  cursor: pointer;
}

form #decrease {
  margin-right: -4px;
  border-radius: 0 8px 8px 0;
  font-size: 20px;
}

form #increase {
  margin-left: -4px;
  border-radius: 0 8px 8px 0;
  font-size: 20px;
}

form #input-wrap {
  margin: 0px;
  padding: 0px;
}

input {
  text-align: left;
  border: none;
  margin: 0px;
  width: 40px;

}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


section.logo {
  display: flex;
  justify-content: center;
  width: 100vw;
  margin-top: 2rem;
}

img.logo {
  width: 30%;
  height: 30%;
}

.fa-star {
  color: rgb(107, 11, 116); 
}

.fa-star-o {
  color: rgb(107, 11, 116); 
}