// Place all the styles related to the Merchants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// body {
//  background-color: blue;
// }

.btn.inactive {
    background-color: #27AAE1;
}

li .btn {
    background-color: lightgrey;
    color: darkslategray;
  }

  li .btn:hover {
    background-color: lightblue;
    color: black;
  }