// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.two-column-layout {
    width: 50%;
    padding: 2rem;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

input[type="checkbox"] {
   width: 25px;
}

li label {
    padding-right: 0.5rem;
    padding-left: 0;
}

ul.horizontal-group {
    display: flex;
    justify-content: flex-start;
}

// ul.horizontal-group > li {
//     display: inline;
//     height: 10vh;
// }


.comment-wrapper .panel-body {
    max-height:650px;
    overflow:auto;
}

.comment-wrapper .media-list .media img {
    width:100px;
    height:100px;
    border:2px solid #e5e7e8;
}

.reviews .column {
    justify-content: flex-start
}

.row {
    flex-direction: row
}

.list-group {
    align-items: flex-start
}


.comment-wrapper {
    max-height:650px;
}


.list-group {
    border-bottom:1px dashed #efefef;
    margin-bottom:25px;
}
          
#reviews h5 {
    margin-bottom: 50px;
}