<h1>Index for Categories</h1>

<ul>
  <% @categories.each do |category|%>
  <li>
    <p>
      <%= link_to category.name, categories_products_path(category), class: "btn btn-primary"  %>
    </p>
  </li>
  <% end %>
</ul>