<h1>Products</h1>

<section class="list-of-filters">
  <ul>
  <% (Category.all).each do |cat| %>
    <%= cat.name %>
      <li><%= link_to "#{cat.name}", products_path(:category=>"#{cat.name}") %></li>
  <%end%>
  </ul>
</section>

<section class="products">
  <%= render @products %>
</section>
