<section class="logo"><%= image_tag 'logo@2x.png', class: "logo" %></section>

  <div class="carousel" data-ride="carousel">
    <div class="carousel-item active">
      <img class="carousel" src="https://lh3.googleusercontent.com/wGaB1nD2YIiUOhzFHOvNcZOGRcloWgjmpkIGmCqfgmDjoeRIFrTIAGs7Rp6JKqBwpeMSRoyIYm5ggNEwbUZoiaDeqTttFXeZfNKSNWRifothh5lpUuTzfC2l_MCFvU1QSQr6rNuC44NIuNFk9_34IUWwUQJTriTsNb4mJPKdHrBkpSd9LdWwkLnvOAnzP9GjmhQhTVfvZCamIKzkeJRyCJ1nOMv1TTv04DXsfIC_F-5mGcm6bWiXoDRRwwiBAxLgkh67aZi2r0qZeGLj_H9vxpxOAtslonBEMYRQ3R7KkOCjqsa4_h2JwQJrGqFZQEM-mGBekO36jrz1uaegj09zHt0YWX8UqBFSmoe6ZdWeMQLtRT5TKT-GrmUNTnVPJoU-rTuGEJgjSg0jjO_VR2J9dRl5BUmNtkKD26xwCJP0VixYO4AKzWJhbvS-3fFSTcTlLeifFikmeLoNhCSDgk12JZ7pfV1pwT_krMGy8BbKcgiNt_Xuqw4WL6ypqeapOu0U6LXE3YzDYeMPTLZ3FnBvkhjJz0nbKD9ZjFHWMqLlcvTwRc3eZzw-0TH-tKFsdelIkz_bhKWvic2Ytuzw22z_5TYZKncAv-pbxWTn-hcJDk6_X4wad7wkRv_VlmvmhkeHnLWApERSJckivXrieGjxKrfIoPR2XDgQFdNEf2s7g2zNxONjnJSMh54bh-yZPUTGdpjQViJks7ocnBrc-wSL3du9Lg=w2152-h1434-no" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="carousel" src="https://lh3.googleusercontent.com/C8qnWm33o7PdIlSGBtMCNW9Vefh2HAEcxe7yFbDC0Y2_CvoI5QMVk_SlpyDiD_7xLgTqGKRBRmF5pSdTOsB3OhLfFyrrrmLmujAP8X-pC3rPVmgy8HSU_1-Xl90hEIxAn-A24cg5qb0AMx5GkddZ-nF-mi_DRbt9RFDzFI0T1myu6HGKfzJwNO1yO0YZmiySpebIcuyGfpXrAmNvXuOh2XLnuBWiz1MMP48uBGWZs9z_ZMluVU1P0GGSQ-q0PPzrBwSGUwMHb2OG8fB3VbV1ZwHGXn20kUsIui-59RG-4c8Abooe-kCGm2BKDkAcaU7IH2c5BOKbas27WN3bRYoqbuuimBqBhSEZkUuhOEQ3uiGsE-cYsdSh8ix5mddmj4bxn1d5BMYu4-wayxo8yYJ6KFtU8dgwnez7T-Euan2Y5a4errgkD3x2GKp5BWoGK-i9BsGb9pKr3zgsQFsSKpD-acoFqCmcWrQFpq83lpfWHqdjKgHnUeEHNw__CyQ9CyZzKQZBFWo5RPoIcpMl4KOdhLmlsWcAx3sgRXKwZI99O8osC3raM7ahL8q_yIWmV_sXMbG_5_CkvWurh-M5MgnKEFJgyhSiDVwEi4DA4kegzE2wfdpeisiyoPExnTZjENL941AsMUn2j6OBDmyJLuWU49Hy5b153DZLaevgk0B3J4guuD6203RZzm8W1VHvOZ6jHSkkJ4o41mGkmRg0iQgY6R16Lw=w2084-h1532-no" alt="Cupcakes">
    </div>
    <div class="carousel-item">
      <img class="carousel" src="https://lh3.googleusercontent.com/PgRDnTNY8y4BDn9bCK849kpji4c26UoHBlpfcQWU0GwcLoRo89ksFHhP6kfu2CmdSjW2gKvdf-Wslzd1zcCsKjRpfC1RmA_-X6XxI-dfCcLUaCtJ_O7mHv3w04eBvsQFN-2EsP7qVPfjx3Ylj_MfdjmlAwGMariR_rEAz-np1P9nPoJ5sFrgNhPaQs7QwnTITjrUrUxWhSiIuI29_HWk2pa6bDNuQter_iGI5H-GIrCF4u2d-5C8FIYmCoq3sByx81zCGAvWqZnHBj_GGplSx36nQgZAw-09cV_RkYFoKrCjzjVmCEG3LWCcIgxax28x3A6xkHdBxwDiQabrutRn6ocWv-pbrhtcM6PZG8pBIk63BW3EXmnCJXUhLwYlssCbiDlrYSFV93awp0yrA0wI9kpUTsbjU7pE7TnmWdI8M7rKrHSZV8Ib7ZWiaPlx2hqCQmM2PCn9v_gXycnICycWM91ryK7sercyq0fGa8zplJexIZ-sRiJMnQv4q5XffeQP--mjvJAL8q1FDu28nLry5mWXQ02eGAgkf-o8bylsn8JfG35Gmu4gHoF7nwCuvWj_6WJR5HkoxBl1NX3-mh4i75KWy_Ys1Zg2TrEy2aUEt7iXJWdIp7btnFTum7mZsdSxC_xuQV-Q53X8wUIEAFANBR9Tu4ijuwM6wt4FW7tYDklcqHf-UkXiricdxnn5rh0jlrEQhny-L7Su86mBdEx7ZIIVUQ=w1910-h1434-no" alt="Macarons">
    </div>
  </div>
</div>

 
